<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
rcw
</body>
</html><!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>rcw</title>

    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo-wrapper">
                <div class="logo-copy">
                    Rover Control Workstation
                </div>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#control">Control</a>
                </li>
                <li>
                    <a href="#plan">Plan</a>
                </li>
                <li>
                    <a href="#monitor">Monitor</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- Header -->
<a name="top"></a>
<div class="intro-header">
    <div class="image-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Rover Control Workstation</h1>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="http://www..com" target="_blank"><img class="vendor-logo"
                                                                                     src="/static/img/"></a>
                        </li>
                        <li>
                            <a href="http://www..com/" target="_blank"><img class="vendor-logo"
                                                                                          src="/static/img/g"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a name="control"></a>
<div class="content-section-b">

    <div class="container">
        <div class="row page-this-guy">
            <div class="col-xs-12">
                <div class="clearfix"></div>
                <h2 class="section-heading astro-section-heading">Track your order</h2>
                <form name="track-form" id="track-form" class="form-horizontal purple-spacer">
                    <fieldset>

                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input id="email" name="email" type="text" placeholder="Enter your email"
                                       class="form-control input-md" value="scottumsted@gmail.com">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input id="order" name="order" type="text" placeholder="Enter your order number"
                                       class="form-control input-md" value="00000100">
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button type="submit" id="track" name="track" class="btn btn-primary pull-right">Track It!
                                </button>
                            </div>
                        </div>

                        <div id="results" class="form-group text-left">
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>


<a name="plan"></a>
<div class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img class="" style="max-width:100%;height:auto;" src="/static/img/how.png" alt="">
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

</div>
<a name="monitor"></a>
<div class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img class="" style="max-width:100%;height:auto;" src="/static/img/how.png" alt="">
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

</div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; Scott Umsted - All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <script>

        $(function () {
            $('#track-form').submit(function () {
                var data =
                {
                    email: $('#email').val(),
                    order: $('#order').val(),
                };
                var url = "/df/order/"+data.email+"/"+data.order;
               $.getJSON(
                    url
                ).done(function (data) {
                    var markup = data.order;
                    $("#results").html('');
                    if(data.shipments.length > 0){
                        $.each(data.shipments, function (index, shipment) {
                            var statusStyle = shipment.Status__c == 'Delivered' ? 'text-success' : 'text-primary';
                            var result = '' +
                                '<div class="col-xs-12">' +
                                '<div class="col-xs-3">Shipment</div>' +
                                '<div class="col-xs-9 text-muted">'+shipment.Shipment_Number__c+'</div>' +
                                '</div>' +
                                '<div class="col-xs-12">' +
                                '<div class="col-xs-3">Status</div>' +
                                '<div class="col-xs-9 '+statusStyle+'">'+shipment.Status__c+'</div>' +
                                '</div>' +
                                '<div class="col-xs-12">' +
                                '<div class="col-xs-3">Product</div>' +
                                '<div class="col-xs-9 text-muted">'+shipment.Name+'</div>' +
                                '</div>' +
                                '<div class="col-xs-12">' +
                                '<div class="col-xs-3">Carrier</div>' +
                                '<div class="col-xs-9 text-muted">'+shipment.Carrier__c+'</div>' +
                                '</div>' +
                                '<div class="col-xs-12">' +
                                '<div class="col-xs-3">Tracking</div>' +
                                '<div class="col-xs-9"><a target="_blank" href="'+shipment.Carrier_Link__c+'">'+shipment.Tracking_Number__c+'</a></div>' +
                                '</div>' +
                                '<div class="col-xs-12">' +
                                '<div class="col-xs-12">Scans</div>' +
                                '</div>' +
                                '<div class="col-xs-12">' +
                                '<div class="col-xs-12 text-muted">'+shipment.Scans__c.replace(new RegExp('\r?\n','g'), '<br />')+'</div>' +
                                '</div><div class="clearfix">&nbsp;</div>';

                            $("#results").append(result);
                        });
                    } else {
                        $("#results").html("Your order cannot be located.");
                    }
                });
                return false;
            });
        });
    </script>
</body>

</html>
